.nav_bar{
    background-color: #8EB226;
}
.companylogo{
    color: #fff;
}
.containersection1{
    justify-content: space-around;
}
.companyname{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0.3rem;
}
.searchbtn{
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 7px;
    border: none;
    color: rgb(192, 191, 191);
}
.classlikes{
    margin-left: 3rem;
    padding-top: 0.2rem;
}
.cart{
    margin-left: 1rem;
}
.navbar-nav{
gap: 25px;
}
.section1{
background-color:#CDA792;
}
.classdiscover{
    padding-top: 2.5rem;
    font-family: 'Sree Krushnadevaraya';
font-style: normal;
    font-weight: 400;
font-size: 60px;
color:rgba(215, 255, 165, 1);
text-transform: capitalize;
}
.productclass{
    font-family: 'Sree Krushnadevaraya';
font-style: normal;
font-weight: 300;
font-size: 40px;
text-transform: capitalize;
color: #fff;

}
.shopnowclass{
    color: #fff;
    background-color: #8EB226;
    border: #fff solid 1px;
    padding: 0.5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}
.products{
    margin-top: 1rem;
    /* width: 100px;
    height: 100px; */
    /* margin-left: 5rem; */
}
.image2class{
    margin-top: 5rem;
    margin-left: 3rem;
}
.pricetag{
    margin-top: 13rem;
}