body {
  font-family: "Sree Krushnadevaraya";
  font-style: normal;
}
.nav_bar {
  background-color: #8eb226;
}
.companylogo {
  color: #fff;
}
.containersection1 {
  justify-content: space-around;
}
.companyname {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-left: 0.3rem;
}
.searchbtn {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 7px;
  border: none;
  color: rgb(192, 191, 191);
}
.classlikes {
  margin-left: 3rem;
  padding-top: 0.2rem;
}
.cart {
  margin-left: 1rem;
}
.navbar-nav {
  gap: 25px;
}
.section1 {
  background-color: #cda792;
}
.classdiscover {
  padding-top: 3rem;
  font-weight: 400;
  font-size: 50px;
  color: rgba(215, 255, 165, 1);
  text-transform: capitalize;
  margin-bottom: none;
}
.productclass {
  margin-top: none;
  font-weight: 200;
  font-size: 35px;
  text-transform: capitalize;
  color: #fff;
}
.shopnowclass {
  color: #fff;
  background-color: #8eb226;
  border: #fff solid 1px;
  padding: 0.5rem;
  margin-left: 10rem;
  margin-top: 1.5rem;
}
.products {
  margin-top: 1rem;
  /* width: 100px;
    height: 100px; */
  /* margin-left: 5rem; */
}
.image2class {
  margin-top: 7rem;
  margin-left: 3rem;
}
.pricetag {
  margin-top: 13rem;
}
.bestselling {
  background-color: rgba(220, 220, 220, 1);
}
.section2 {
  font-weight: 400;
  font-size: 30px;
}
.viewclass {
  font-weight: 200;
  font-size: 20px;
  justify-content: right;
  padding-top: 1rem;
  margin-left: 45rem;
  text-decoration-line: underline;
  color: rgba(0, 0, 0, 0.67)
}
.card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-transform: capitalize;

  color: #12651a;
}
.card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-transform: capitalize;
  color: #000000;
}
.price {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #12651a;
}
.buycart {
  margin-left: 5rem;
}
.carditself {
  background-color: #e6e6e6;
}
.producttitle{
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
}
.productclass{
  background-color: #CDA792;
}
.producttext{
  font-weight: 800;
font-size: 20px;
line-height: 24px;
text-transform: capitalize;
color: #FFFFFF;
text-align: center;
}
.section4{
  background-color: #E4E5D7;
}
.ordclass{
  font-weight: 400;
font-size: 40px;
text-transform: capitalize;
padding-left: 6rem;
padding-top: 3rem;
color: #000000;
}
.ordtextclass{
  font-weight: 400;
font-size: 20px;
text-transform: capitalize;
color: #686868;
padding-left: 6rem;
padding-top: 2rem;
}
.ordbtn{
  text-align: center;
  color: #fff;
  background-color: #73A336;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin-left: 15rem;
}
.filterclass{
  font-weight: 700;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
color: #676767;
padding-top: 2rem;
}
.section5{
  background-color: #fff;
}
/* .viewclass1{
  font-weight: 400;
font-size: 24px;
line-height: 49px;
text-decoration-line: underline;
text-transform: capitalize;
color: rgba(0, 0, 0, 0.67);
} */
.sortclass{
  padding-left: 3rem;
}
.card-text5{
  font-weight: 400;
font-size: 14px;
line-height: 17px;
text-transform: capitalize;

color: #FFFFFF;
}
.carditself5{
  background-color: #6C8152;
}
.price5{
  color: #fff;
}
.section6{
  background-color: #A1C53D;
  padding-top: 3rem;
}
.listitems{
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.logo{
  color: #fff;
}